PORT=3000
BASE_URL=http://localhost:3000

DATABASE_HOST=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
LOCAL_LOGGING_LEVEL=trace
CLOUD_LOGGING_LEVEL=warn
MAX_QUERY_EXEC_WARNING_TIME=300
GOOGLE_CLOUD_SERVICE_CLIENT_EMAIL=
GOOGLE_CLOUD_SERVICE_PKEY=
AUTH_SECRET=
SENDGRID_API_KEY=
NOTIFICATION_EMAIL_FROM=
NOTIFICATION_EMAIL_FROM_DESCRIPTION=
APP_URL=